// Specific CSS for your home-page
.img-center {
  margin: auto;
}

.contener-fluid.why {
  background-color:  #FFE6E6;
  padding-top: 15px;
}

.text-why{
  background-color:  #FFE6E6;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
}
