// Specific CSS for your home-page
.img-center {
  margin: auto;
}

.container-fluid.why {
  width:100%;
  background-color:  #FFE6E6;
  padding-top: 15px;
  padding-bottom: 50px;
}

.text-why{
  background-color:  #FFE6E6;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
}

.wrapper.login {
  margin-bottom: 400px;
}
