<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form_border">
        <h2>Let's set your profile</h2>
        <p id="left">to help your buddy get to know a little about you</p>
        <h5>You've chosen this goal:</h5>
        <div class="mark-red-bordered">
          <%= Goal.find(params[:goal_id]).name.upcase %>
        </div>
        <div class="small-grey-link"><%= link_to "Go back", goals_path %></div>
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>
