<div class="banner home">

  <h1>Are you ready to change your life?</h1>
  <div class="btn btn"><%= link_to "Get Started", new_user_session_path %></div>

</div>

 <div class="container">
  <div class="align-center">
        <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg">How it works</h4>
    </div>
  <div class="card-deck">
  <div class="card">
    <img src="/assets/stares.jpg" alt="" width="80" >
    <div class="card-body">
      <p class="card-text">Set up your profile and goal</p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/friends.jpg" alt="" width="80" >
    <div class="card-body">
      <p class="card-text">Select one of the top 3 best suited accountability
    buddies to get paired with.</p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/goals-target.png" alt="" width="80" >
    <div class="card-body">
      <p class="card-text">Connect with your buddy and show up everyday to motivate
      and encourage each Other.</p>
    </div>
  </div>
  </div>
</div>

  <div class="container">
    <div class="align-center">
      <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg">Why it works</h4>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-20-all align-center text-sm">
        <li>
          <blockquote class="blockquote text-center">
          <p class="mb-0">"Research has shown
            that if you make a conscious decision that you want to achieve something
            and commit to someone that you will do it, there’s a 65% chance of success.
            The success rate increases to 95% if you report back on your progress to
            this person."</p>
          <footer class="blockquote-footer">Martha Stewart</footer>
          <p>Business Woman - New York</p>
          </blockquote>
        </li>
        <li>
          <blockquote class="blockquote text-center">
          <p class="mb-0">"Having an
          accountability partner can keep you on track and improve your productivity.
          With this structure, it is unlikely you would become distracted
          from your goals."</p>
          <footer class="blockquote-footer">Ariana Menage</footer>
          <p>Recording Artist - Los Angeles</p>
          </blockquote>
        </li>
        <li>
          <blockquote class="blockquote text-center">
          <p class="mb-0">"Unlike a coach
          that may check in with you every few weeks, buddapp buddies check in
          with each other on a daily basis. That’s because actions performed
          consistently over time add up to BIG results!"</p>
          <footer class="blockquote-footer">Sean Carter</footer>
          <p>Fund Manager - Chicago</p>
          </blockquote>
        </li>
      </ul>
</div>

