<div class="banner home">

  <h1>Are you ready to change your life?</h1>
  <div class="btn btn-success"><%= link_to "Get Started", new_user_session_path %></div>

</div>

 <div class="container">
  <div class="align-center">
        <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">How it works</h4>
    </div>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <p class="card-text">Set up your profile and goal</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <p class="card-text">Select one of the top 3 best suited accountability
    buddies to get paired with.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <p class="card-text">Connect with your buddy and show up everyday to motivate
      and encourage each Other.</p>
    </div>
  </div>
  </div>
</div>

  <div class="container">
    <div class="align-center">
        <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Why it works</h4>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <p class="fs-110 font-cond-l" contenteditable="false">" Research has shown
          that if you make a conscious decision that you want to achieve something
          and commit to someone that you will do it, there’s a 65% chance of success.
          The success rate increases to 95% if you report back on your progress to
          this person."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Martha Stewart</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Business Woman - New York</small>
        </li>
        <li>
          <p class="fs-110 font-cond-l" contenteditable="false">"Having an
          accountability partner can keep you on track and improve your productivity.
          With this structure, it is unlikely you would become distracted
          from your goals."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ariana Menage</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
        </li>
        <li>
          <p class="fs-110 font-cond-l" contenteditable="false">"Unlike a coach
          that may check in with you every few weeks, buddapp buddies check in
          with each other on a daily basis. That’s because actions performed
          consistently over time add up to BIG results!"</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean Carter</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
        </li>
      </ul>
</div>

