<div class="banner home">
  <h1>Are you ready for change you life?</h1>
  <div class="btn btn-success"><%= link_to "Get Started", '#' %></div>
</div>
  ::before
 <div class="container">
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Apply</h5>
      <p class="card-text">First apply to one of our habbits.The more information
        BuddApp has, the better the search for the ideal Buddy will be.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Meet your buddy</h5>
      <p class="card-text">Our system will do a search to find your new companion on this adventure.
            Acquire a new habit because it is difficult, so it is necessary to have someone
            to walk together.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/test1.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Keep your progress</h5>
      <p class="card-text">Now that you and your buddy have already succeeded in this habit, you
            can choose a new one and, again, find a partner for the new challenge.</p>
    </div>
  </div>
  </div>
</div>
  ::after
  <div class="container">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Some Scientific Facts behind the baddapp</h4>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Martha Stewart</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Business Woman - New York</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ariana Menage</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
        </li>
        <li>
          <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
          <p class="fs-110 font-cond-l" contenteditable="false">" Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean Carter</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
        </li>
      </ul>
</div>

