<div class="banner home">

  <h1>Are you ready to change your life?</h1>
  <div class="btn btn"><%= link_to "Get Started", new_user_session_path %></div>
</div>

<div class="container">
  <div class="align-center">
    <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg">How it works</h4>
  </div>
  <div class="row">
    <div class="col">
     <div class="align-center">

      <%= image_tag "goals-target2.png", class:"img-center", alt:"" %>

      <p>Set up your profile and goal</p>
    </div>
  </div>
  <div class="col">
    <div class="align-center">

      <%= image_tag "friends1.png", alt:"" %>
      <p>Select one of the top 3 best suited accountability
      buddies to get paired with.</p>
    </div>
  </div>
  <div class="col">
    <div class="align-center">

      <%= image_tag "path.png", alt:"" %>

      <p>Connect with your buddy and show up everyday to motivate
      and encourage each other.</p>
    </div>
  </div>
</div>
</div>

<div class="contener">
    <div class="align-center why">
      <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg"><span class="text-why">Why it works</span></h4>
    </div>
    <div class="contener-fluid why">
    <div class="row">
      <div class="col">
        <div class="align-center">
        <p>Research has shown
        that if you make a conscious decision that you want to achieve something
        and commit to someone that you will do it, there’s a 65% chance of success.
        </p>
        </div>
      </div>
      <div class="col">
        <div class="align-center">
          <p>Having an
          accountability partner can keep you on track and improve your productivity.
          With this structure, it is unlikely you would become distracted
          from your goals.</p>
        </div>
      </div>
      <div class="col">
        <div class="align-center">
          <p>Unlike a coach
          that may check in with you every few weeks, buddapp buddies check in
          with each other on a daily basis. That’s because actions performed
          consistently over time add up to BIG results!</p>
        </div>
      </div>
      </div>
    </div>
</div>
