.buddy-new{
    margin-top:40px;
    padding-top:40px;
}

.card.user-card {
    border-top: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05);
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    height: 480px;
    border-radius: 5px;
}

.card .buddyships {
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-header .buddyships {
    border-bottom: none;
    padding: 25px;
}

.card .user-card .buddyships a {
    background-color: #f1faee;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: 20px;
    line-height: 1.4;
}

.card .card-header+.card-block, .card .card-header+.card-block-big .buddyships{
    padding-top: 0;
}

.user-card .card-block .buddyships{
    text-align: center;
}

.card .card-block .buddyships {
    padding: 25px;
}


.m-t-15 {
    margin-top: 15px;
}

.card .card-block p {
    line-height: 1.4;
    padding-left: 10px;
}

.text-muted-buddyships {
    color: #919aa3!important;

}

.card .buddyships a {
  text-decoration: none;

}

.bio-graph-heading-buddyships {
    background: #A8DADC   ;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 40px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 30px;
    color: #1D3557;
    width: 100%;
}

#name {
  margin: 20px auto;


  a {
    text-decoration: none;
    color: black;
  }
}

#buddy {
  margin-left: 20px;
}
