.btn {
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: #E63946;
  color: white !important;
  padding: 10px 26px;
  border-radius: 50px;

  &:hover {
    background-color: #1D3557;
  }
}

.btn a {
  color: white !important;
  text-decoration: none;

  &:hover {
    border: white !important;
  }
}


.btn-btn {
  border-radius: 5px;
  margin-bottom: 7px;
  background-color: #E63946;
  color: white;
}
