// .content {
//   display: flex;
// }
.card {
  display: flex;
  align-content: space-around;
  margin-bottom: 100px;
  margin-top: 30px;
  border: transparent white;
}
  img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 180px;

  }
  p {
    padding-right: 40px;
    padding-right: 40px;
  }

