// .content {
//   display: flex;
// }
.card {
  display: flex;
  align-content: space-around;
  margin-bottom: 100px;
  margin-top: 30px;
  border: transparent white;
}
  img {
    align-items: center;
    width: 150px;

  }

