
.container-chat {
  width: 60%;
  margin: 0 auto;
}

#messages {
  margin-top: 40px;
}

.chat-title {
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width:  100%
}

.avatar-chat {
  margin: 0;
  height: 45px;
  width: 45px;
}
.user1 {
  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #ffb6c140;
  color: #E63946;
  padding: 4px 15px;
  border-radius: 20px;
  width: 45%;
  height: 40%;
}
.user2 {

  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #add8e663;
  color: #1D3557;
  padding: 4px 15px;
  border-radius: 20px;
  width: 45%;
  height: 40%;
}

