
.container-chat {
  width: 60%;
  margin: 0 auto;

}

#messages {
  margin-top: 40px;
}

.chat-title {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  width:  100%;
  margin: 0 auto;
}

.avatar-chat {
  margin: 0;
  height: 45px;
  width: 45px;
}
.user1 {
  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #ffb6c140;
  color: #E63946;
  padding: 4px 15px;
  border-radius: 20px;
  width: 45%;
  height: 40%;
  margin-left: 16px;
}
.user2 {

  border-radius: 2px;
  margin-bottom: 7px;
  background-color: #add8e663;
  color: #1D3557;
  padding: 4px 15px;
  border-radius: 20px;
  width: 45%;
  height: 40%;
  margin-right: 16px;
}

.scrollbar {
  height: 60vh;
  overflow-y: scroll;
}

.chat-text {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  width:  100%;
  margin: 0 auto;

}
.btn-chat {
  margin-right: 16px;
}

.card-body-chat {
  padding-left: 0;
  padding-right: 0;
}
