#left {
  padding-left: 0;
  margin-bottom: 2rem;
}

.mark-red-bordered {
  text-align: center;
  padding: 10px;
  border: solid $darkblue 0.5px;
  border-radius: 3px;
  color: $buttonsred;
  margin: 16px 0px;
}

.small-grey-link {
  margin-bottom: 10px;
  text-align: end;

    a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
  }

}
