.short-line {
  width: 70px;
  margin: 0 auto;
}

.goal p {
  padding: 0;
}


.text-muted-goals {
  min-height: 200px;
  color: #919aa3;
}

.card-body.goal {
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.goal-icon img {
  width: auto;
}

.bnt-width {
margin-bottom: 28px;
}

.card-profile.goal {
  height: unset;
}

.card.goal {
  margin-bottom: 20px;
}
