<div class="container">
  <div class="row">
  <% @goals.each do |goal| %>
  <div class="col-md-4">
    <div class="card border-profile card-profile text-center">
        <div class="card-body goal">
          <h5 id="name"><%= goal.name.upcase %></h5>

          <div class="card-block">
            <p class="text-muted-goals"><%= goal.description %></p>

          <div class="btn btn"><%= link_to "Choose this goal"%></div>
        </div>
      </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

